{% load myfilter %}
{% load static %}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta content="always" name="referrer">
    <meta name="baidu-site-verification" content="codeva-FGWeBKj7lm"/>
    <meta charset="UTF-8">
    <title>重庆新房信息查询</title>

    <link rel="stylesheet" type="text/css" href="{% static 'newHouse/css/styles.css' %}">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?2de39a46acd076b3d59c252ef9472f8a";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

    <meta name="keywords"
          content="重庆新房成交,新房销售情况,重庆房产市场,房产销控查询,楼盘动态,新房价格走势,重庆房地产,房屋销售数据,销售监控,新房成交量,房价趋势,楼市情报,重庆购房指南">
    <meta name="description"
          content="提供最新的重庆新房成交信息和销控查询服务，帮助房地产企业研判新房市场动态，同时为购房者提供决策依据。">
</head>
<body>

<div class="container">


    <h1>重庆新房信息查询</h1>

    <form action="" method="GET" class="search-form">
        楼盘名称：<input name="projectname" type="text" placeholder="请输入楼盘名称"/>
        开发商：<input name="entName" type="text" placeholder="请输入开发商（选填）"/>
        <button type="submit">搜索</button>
        <p style="margin-left: 10px">热门查询：
            <a href="/?projectname=九龙天景">九龙天景</a>&nbsp;&nbsp;
            <a href="/?projectname=长嘉汇">长嘉汇</a>&nbsp;&nbsp;
            <a href="/?projectname=启元">启元</a>&nbsp;&nbsp;
            <a href="/?projectname=观宸">观宸</a>&nbsp;&nbsp;
            <a href="/?projectname=联发观音桥">联发观音桥</a>&nbsp;&nbsp;
            <a href="/?projectname=华曦璟颂">重庆之丘</a>&nbsp;&nbsp;
            <a href="/?projectname=浩月府">浩月府</a>&nbsp;&nbsp;
            <a href="/?projectname=云湖小区">云湖郡</a>&nbsp;&nbsp;
        </p>
    </form>

    <table class="project-table">
        <tr>
            <th>项目名称</th>
            <th>开发商</th>
            <th>项目地址</th>
            <th>证件号</th>
            <th>楼栋</th>
        </tr>
        {% for p in Project %}
            <tr>
                <td><a href="getproject/?projectId={{ p.projectid }}">{{ p.projectname }}</a></td>
                <td>{{ p.enterprisename }}</td>
                <td>{{ p.location }}</td>
                <td>{{ p.f_presale_cert }}</td>
                <td>
                    {% if p.buildingid|length > 22 %}
                        {% with p.blockname|split:"," as name %}
                            {% with p.buildingid|split:"," as id %}
                                {% for n,i in name|zip1:id %}
                                    <a href="/getbuilding/?buildingid={{ i }}&blockname={{ n }}">{{ n }} </a>
                                {% endfor %}
                            {% endwith %}
                        {% endwith %}
                        </td>
                    {% else %}
                        <a href="/getbuilding/?buildingid={{ p.buildingid }}&blockname={{ p.blockname }}">{{ p.blockname }}</a>
                    {% endif %}
            </tr>
        {% endfor %}
    </table>

    <div class="disclaimer">
        <p>
            免责申明：本平台所提供的所有数据与信息均来源于互联网上的公开资源，且不对这些信息的准确性、完整性或及时性做出任何保证。</p>
        <p>
            本平台提供的数据和信息仅供用户个人学习、参考及研究之用，不得用于任何商业目的。任何未经许可的商业使用均属违法行为，由此产生的任何法律后果均由使用者自行承担。</p>
        <p>
            对于因使用本平台提供的数据和信息而直接或间接引起的任何损失或损害（包括但不限于经济损失、名誉损失等），本平台不承担任何法律责任。</p>
    </div>
</div>
</body>
</html>